[user]
	email = Andy_Tsai@quantatw.com
	name = Andy_Tsai
[color]
	ui = auto
[push]
	default = simple
[url "ssh://Andy_Tsai@gerrit.pelotime.com:29418"]
	insteadof = ssh://gerrit.pelotime.com:29418
[core]
	editor = vim
